<div id='animatie'>
  <div class='container'>

    <div class='sixteen columns'>
      <h2 class='blue'><span class='lines'>Animatie</span></h2>

      <p style="text-align: center; font-weight: bold">
        Voor wie even genoeg heeft van al dat lopen .... er zijn ook andere bezigheden, al dan niet met een sportief kantje.
      </p>
    </div>



    <div class='eight columns'>
      <% render '/parts/animation/dj-contest.*' %>

      <h3><span class='lines'>SFEER BEHEER</span></h3>

      <p class="justify">
        Niks beter dan wat ochtendgymnastiek om de dag te beginnen. Een paar ware duracellkonijnen vol energie zorgen ervoor dat elke spier in je lijf wordt opgewarmd.
        Ook in de namiddag volgt een sessie want stretchen is belangrijk om de mogelijke krampen te vermijden.
      </p>
      <p>
        Daarnaast zorgen een reeks (partner)standen voor een boel vermaak zodat er altijd iets te beleven valt.
        Laat je bijvoorbeeld omtoveren tot de mooiste bij, speel een sportief spel of rust uit op het terras.
      </p>


      <h3><span class='lines'>Multimedia</span></h3>

      <p class="justify">
          Zoek en vind onze fotograaf en geef hem/haar je beste poses en kom terecht in ons mooie collectie plaatjes.
          Verder houden wij je tijdens de dag op de hoogte via onze social media kanalen.
      </p>

      <!--
      <p class="justify">
        <a href='http://www.urgent.fm'>Urgent.fm</a> zal dit jaar opnieuw aanwezig zijn.
        Je hoort er toffe interviews en het laatste nieuws over de 12urenloop.
      </p>

      <p class="justify">
        Ook <a href='http://schamper.ugent.be'>Schamper</a> verhuist zijn
        redactie voor een dag en houdt je de hele dag door up-to-date via de
        sociale media.
      </p> -->

      <!--
        <div style='text-align: center;'>
        <script>
function popUp(URL) {
  day = new Date();
  id = day.getTime();
  window.open(URL, '' + id + '', 'toolbar=0,scrollbars=0,location=0,statusbar=0,menubar=0,resizable=0,width=450,height=250,left = 735,top = 415');
}
        </script>
        <a href='javascript:popUp('http://urgent.fm/player/liveplayer.html')'><div class='button1'>Luister online naar Urgent.fm</div></a>
        </div>
        -->
    </div>

    <div class='eight columns'>

      <h3><span class='lines'>Fakbars</span></h3>

      <p class="justify">
        Elke studentenvereniging die deelneemt aan de 12urenloop zet voor de
        gelegenheid ook een eigen fakbar op poten op het <%= item[:location] %>
        met voordelige drankjes, snacks en meer.
      </p>

      <h3><span class='lines'>DANSEN DANSEN</span></h3>

       <p class="justify">
         Lopen of gewoon wat chillen gaat zoveel beter met de juiste achtergrondmuziek.
         In de ochtendlijke uren plakken wij zelf de plaatjes aan elkaar. In de namiddag geven we de fakkel door aan de ervaren lui.
         Een reeks mooie namen en opkomend talent houden de sfeer erin richting de afterparty.
      </p>


      <% if item[:party] %>
      <div class="container">
          <% data_from(:afterparty).each_slice(6) do |a| %>
          <%= render '/partials/line_up.*', djs: a %>
          <% end %>
        </div>
      <% else %>
        <p class=''>
          De line-up voor dit jaar wordt later bekend gemaakt. Had jij graag op ons podium gestaan? Geef ons een seintje.
        </p>
      <% end %>
    </div>

    <div class='sixteen columns'>
      <div class='container' style='max-width: 500px'>
        <div class='flexslider'>
          <ul class='slides'>
            <% data_from(:animatieslider).each do |img| %>
              <li><img src='<%= img['src'] %>' alt='' /></li>
            <% end %>
          </ul>
        </div><!-- end flexslider -->
      </div>
    </div>


  </div> <!-- end container -->
</div> <!-- end about -->
