<div id='contact'>
  <div class='container'>

    <div class='sixteen columns'>
      <h2 class='yellow'><span class='lines'>Contact</span></h2>
    </div>

    <div class='clear'></div>

    <div class='clear'></div>
    <div class='sixteen columns centered'>
      <h5>Contact Info</h5>
    </div>

    <div class='six columns'>
        <p class='white'>
          <i class="material-icons" style="vertical-align: middle;">mail</i>
          <a href='mailto:info@12urenloop.be'>info@12urenloop.be</a>
        </p>
        <p class='white'>
          <i class="material-icons" style="vertical-align: middle;">home</i>
          Hoveniersberg 24, 9000 Gent
        </p>
    </div>

    <div class='five columns white'>
      <div>
          <div><strong>Factuur gegevens</strong></div>
          <div>Gentse 12urenloop vzw</div>
          <div>Hoveniersberg 24, 9000 Gent</div>
          <div>BE 0692.988.190</div>
      </div> <!-- end contact-info -->
    </div>

    <div class='five columns white'>
      <div>
        <img style="max-width: 100%;" src="/images/logo.svg" alt="12urenloop logo"/>
      </div>
    </div>

    <div class='sixteen columns'>
      <div class='social'>
        <ul>
          <li><a href='https://instagram.com/12urenloop' target='_blank'><img src='images/icn-instagram-grey.svg' alt='Follow us on Instagram' title='Follow us on Instagram' size='30px'/></a></li>
          <li><a href='https://www.facebook.com/12urenloop' target='_blank'><img src='images/icn-facebook-grey.svg' alt='Follow us on Facebook' title='Follow us on Facebook' size='30px'/></a></li>
        </ul>
      </div> <!-- end social -->

    </div> <!-- end eight columns -->

    <div class='clear'></div>

    <div class='sixteen columns'>
      <div class='copyright'>
        <p><i class="material-icons" style="vertical-align: middle;">camera_alt</i> by <a href='https://www.studiophie.com/'>StudioPhie</a> and <a href='https://www.mircophoto.com/'>Mirco Photo</a><br />&copy; 2013-<%= Time.now.year %> 12urenloop</p>
      </div>
    </div>

  </div> <!-- end container -->

</div> <!-- end contact -->
