<div id='history'>
    <div class='sixteen columns'>
      <h2 class='yellow'><span class='lines'>Historiek</span></h2>
    </div>

    <div class='clear'></div>

    <section class="timeline">
      <ol>
        <li>
          <div>
            <time>7 maart 1984</time> RijksNormaalSchool Gent
          </div>
        </li>
        <li>
          <div>
            <time>13 februari 1985</time> RijksNormaalSchool Gent
          </div>
        </li>
        <li>
          <div>
            <time>13 november 1985</time> RijksNormaalSchool Gent
          </div>
        </li>
        <li>
          <div>
            <time>29 oktober 1986</time> VTK
          </div>
        </li>
        <li>
          <div>
            <time>28 oktober 1987</time> VTK
          </div>
        </li>
        <li>
          <div>
            <time>26 oktober 1988</time> Koninklijke Militaire School
          </div>
        </li>
        <li>
          <div>
            <time>25 oktober 1989</time> VTK
          </div>
        </li>
        <li>
          <div>
            <time>7 november 1990</time> VTK
          </div>
        </li>
        <li>
          <div>
            <time>19 februari 1992</time> HILOK
          </div>
        </li>
        <li>
          <div>
            <time>21 oktober 1992</time> VTK
          </div>
        </li>
        <li>
          <div>
            <time>93-94</time> VTK
          </div>
        </li>
        <li>
          <div>
            <time>9 november 1994</time> HILOK
          </div>
        </li>
        <li>
          <div>
            <time>8 november 1995</time> VTK
          </div>
        </li>
        <li>
          <div>
            <time>96-97</time> HILOK
          </div>
        </li>
        <li>
          <div>
            <time>26 november 1997</time> HILOK
          </div>
        </li>
        <li>
          <div>
            <time>98-99</time> (niet doorgegaan)
          </div>
        </li>
        <li>
          <div>
            <time>17 november 1999</time> VTK
          </div>
        </li>
        <li>
          <div>
            <time>25 oktober 2000</time> VTK
          </div>
        </li>
        <li>
          <div>
            <time>4 oktober 2001</time> HILOK
          </div>
        </li>
        <li>
          <div>
            <time>23 oktober 2002</time> HILOK
          </div>
        </li>
        <li>
          <div>
            <time>22 oktober 2003</time> ???
          </div>
        </li>
        <li>
          <div>
            <time>27 oktober 2004</time> HILOK
          </div>
        </li>
        <li>
          <div>
            <time>1 maart 2006 (?)</time> ???
          </div>
        </li>
        <li>
          <div>
            <time>28 februari 2007</time> HILOK
          </div>
        </li>
        <li>
          <div>
            <time>9 april 2008</time> VTK
          </div>
        </li>
        <li>
          <div>
            <time>4 maart 2009</time> VTK
          </div>
        </li>
        <li>
          <div>
            <time>21 april 2010</time> VTK
          </div>
        </li>
        <li>
          <div>
            <time>4 mei 2011</time> HILOK
          </div>
        </li>
        <li>
          <div>
            <time>25 april 2012</time> HILOK
          </div>
        </li>
        <li>
          <div>
            <time>24 april 2013</time> VTK
          </div>
        </li>
        <li>
          <div>
            <time>30 april 2014</time> VTK
          </div>
        </li>
        <li>
          <div>
            <time>29 april 2015</time> VTK
          </div>
        </li>
        <li>
          <div>
            <time>15-16</time> ???
          </div>
        </li>
        <li>
          <div>
            <time>26 april 2017</time> HILOK
          </div>
        </li>
        <li>
          <div>
            <time>26 april 2018</time> VTK
          </div>
        </li>
        <li>
          <div>
            <time>29 april 2019</time> VTK
          </div>
        </li>
        <li>
          <div>
            <time>29 april 2020</time> Corona
          </div>
        </li>
        <li>
          <div>
            <time>26-29 april 2021</time> ??? (VTK snelste)
          </div>
        </li>
        <li>
          <div>
            <time>27 april 2022</time> HILOK
          </div>
        </li>
        <li></li>
      </ol>

      <div class="arrows">
        <button class="arrow arrow__prev disabled timeline-btn" disabled>
          <img src="/images/arrow_prev.svg" alt="prev timeline arrow">
        </button>
        <button class="arrow arrow__next timeline-btn">
          <img src="/images/arrow_next.svg" alt="next timeline arrow">
        </button>
      </div>
    </section>

</div> <!-- end history -->
