<div id='intro'>
  <div class='bg1'>
    <!-- <img src="../images/header.png"/> -->
  </div>
  <div class='title'>
    <img src="/images/logo-small-thema.png" />
    <h1 class='small'><%= item[:date] %> @<%= item[:location] %></h1>
    <% if item[:show_recruitment] %>
      <a class='button3' href='https://join.12urenloop.be'>Join the crew!</a>
    <% end %>
    <% if item[:show_seeyouthere] %>
      <h1 class='small'>See you there</h1>
    <% end %>
    <% if item[:show_cancelled] %>
      <h1 >CANCELLED</h1>
      <h1 class='small' style='margin-top: -20px;'>See you back next year!</h1>
    <% end %>
    <%= render '/parts/countdown.erb' if item[:show_countdown] %>
    <% if item[:show_livelink] %>
      <a href='https://live.12urenloop.be'><div class='button2'>Volg hier live de resultaten</div></a>
    <% end %>
  </div>
  <div class='social-intro'>
    <ul>
      <li><a href='https://instagram.com/12urenloop' target='_blank' class='social-instagram'>
          Volg ons op <strong>Instagram</strong></a>
      </li>
      <li><a href='https://www.facebook.com/12urenloop' target='_blank' class='social-facebook'>
          Word fan op <strong>Facebook</strong></a>
      </li>
    </ul>
  </div>
</div>
