<div class='four columns'>
  <table class="schedule">
    <% @djs.each do |a| %>
      <tr>
        <th><%= a['time'] %></th>
        <td><%= a['description'] %></td>
      </tr>
    <% end %>
  </table>
</div>
