<div class='four columns'>
<table class='schedule white'>
  <% @teams.each_with_index do |t,i| %>
    <% if t.to_s.length > 0 %>
      <tr>
        <th><%= i + 1 + @offset %>.</th>
        <td><%= t %></td>
      </tr>
    <% end %>
  <% end %>
</table>
</div>
